.chat-area {
    width: 100%;
    flex: 1;
    background-image: url('../../../img/bg-image.jpg');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;

    display: flex;
    flex-direction: column;
    gap: 5px;
    padding: 10px;

    overflow-y: scroll;
}

.chat-area::-webkit-scrollbar{
    width: 0;
}