.header {
    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 20px;
}

.service-block {
    display: flex;
    align-items: center;
}

/* Search */
.header-search-wrapper {
    display: flex;
    align-items: center;
}

.header-search {
    border: none;
    width: 0px;
    height: 22px;
}

.header-search:focus {
    outline: none;
}

.header-search-image {
    width: 20px;
    transform: translateX(-20px);
    cursor: pointer;
}

.search-active {
    border-bottom: 1px solid grey;
    width: 150px;
}


/* Sidebar Button */
.sidebar-button {
    border: none;
    background-color: transparent;
    cursor: pointer;

    display: flex;
    align-items: center;
}

.sidebar-button-image {
    width: 20px;
}