@use '../../../assets/css/variables.scss' as *;

.message-block{
    display: flex;
    flex-direction: column;

    border-radius: 10px;
    padding: 10px;
    max-width: 60%;
    min-width: 100px;
    
    background-color: $message-bg;
    margin-left: auto;
}