@use '../../../assets/css/variables.scss' as *;

.message-block {
    display: flex;
    flex-direction: column;

    border-radius: 20px;
    padding: 10px;
    max-width: 60%;
    min-width: 120px;

    background-color: $message-bg;
    margin-left: auto;
    transition: background-color 1s ease, color 1s ease;
}

.message-block:has(.message-location) {
    max-width: 100%;
}

.message-block.highlight {
    background-color: $highlight;
    color: $white-color;
}